/*
 * Copyright (c) 2023 ZitaoTech
 * Copyright (c) 2024 nift4
 *
 * SPDX-License-Identifier: MIT
 */
   
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>
#include "keys_de.h"


#define SYM 1
#define UPPER 2

&sk{
    release-after-ms = <2500>;
};

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&out &kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
//         --------------------------------------------------------------------------------------------------------------------------         
//         |    Shoulder Key1    |                                                                             |    Shoulder Key2    |     
// |         Call key      |      Blackberry Key        |    Trackpad    |             Back Key                |             Endcall Key          |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P        |     
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←        |  
// |     alt    |     Z    |     X    |     C    |      V      |       B        |       N        |        M        |       $      |    Enter      |   
//        |         aA     |         0           |           SPACE              |         SYM         |        aA          |       
//        -----------------------------------------------------------------------------------------------------------------

                 &mkp LCLK                                                                                          &mkp RCLK
    &kp CLCK                &kp LGUI                            &mkp LCLK                          &mt ESC K_BACK                    &kp TAB
    &kp DE_Q     &kp DE_W   &kp DE_E    &kp DE_R  &kp DE_T      &kp DE_Z          &kp DE_U         &kp DE_I         &kp DE_O         &kp DE_P
    &kp DE_A     &kp DE_S   &kp DE_D    &kp DE_F  &kp DE_G      &kp DE_H          &kp DE_J         &kp DE_K         &kp DE_L         &kp BSPC
    &sk LSHIFT   &kp DE_Y   &kp DE_X    &kp DE_C  &kp DE_V      &kp DE_B          &kp DE_N         &kp DE_M         &kp DE_EURO      &kp ENTER
    &kp LCTRL               &kp LALT                            &kp DE_SPACE                       &tog SYM                          &tog UPPER
            >;
        };


        sym_layer {

            bindings = <        
                 &kp C_VOL_UP                                                                                       &kp C_VOL_DN
    &kp PSCRN               &kp C_AC_SEARCH                     &mkp LCLK                          &kp F5                            &kp F12 
    &kp DE_HASH  &kp DE_N1  &kp DE_N2   &kp DE_N3 &mt DE_LBKT DE_LPAR &mt DE_RBKT DE_RPAR &kp DE_UNDER &kp DE_MINUS &kp DE_PLUS      &kp DE_AT
    &kp DE_STAR  &kp DE_N4  &kp DE_N5   &kp DE_N6 &kp DE_FSLH   &kp DE_COLON      &kp DE_SEMI      &kp DE_APOS      &kp DE_DQT       &kp DEL
    &kp LSHFT    &kp DE_N7  &kp DE_N8   &kp DE_N9 &kp DE_QMARK  &kp DE_EXCL       &kp DE_COMMA     &kp DE_DOT       &kp C_MUTE       &kp ENTER
    &kp LCTRL               &kp DE_N0                           &kp DE_SPACE                       &tog SYM                          &tog UPPER
            >;
        };

        upper_layer {

            bindings = <
                 &msc SCRL_UP                                                                                       &msc SCRL_DOWN
    &bt BT_SEL 0            &bt BT_SEL 1                             &td0                           &bt BT_SEL 2                     &bt BT_SEL 3
    &none        &kp UP     &none       &sys_reset &ext_power EP_TOG &none         &kp DE_LT        &kp DE_GT       &kp DE_PIPE      &kp DE_EQUAL
    &kp LEFT     &kp DOWN   &kp RIGHT   &kp DE_SZ  &kp DE_BSLH       &kp AMPS      &kp DE_LBRC      &kp DE_RBRC     &kp DE_CARET     &kp BSPC
    &kp LSHFT    &kp DE_A_UMLAUT &kp DE_O_UMLAUT &kp DE_U_UMLAUT &bl BL_DEC &bl BL_TOG &bl BL_INC   &none           &bootloader      &kp ENTER
    &kp LCTRL               &kp LALT                                 &hm OUT_TOG SPACE              &tog SYM                         &tog UPPER
            >;
        };
    };
};

